:root {
  /* Colors */
  --color-primary: #1e3a8a;
  --color-primary-hover: #1e40af;
  --color-secondary: #374151;
  --color-secondary-hover: #eff6ff;
  --color-background: #ffffff;
  --color-surface: #f9fafb;
  --color-border: #a8abaf;
  /*--color-border: #d1d5db;*/

  /* Text Colors */
  --color-text-primary: #111827;
  --color-text-secondary: #424d5e;
  --color-text-inverse: #ffffff;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-button: 0.875rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;

  --min-width-button: 44px;

  /* Sizing */
  --size-icon-sm: 1rem;
  --size-icon-md: 1.5rem;
  --size-icon-lg: 2rem;

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 8px;

  /* Typography - Font Families */
  --font-family-text: 'Inter', Roboto, sans-serif;
  --font-family-code: 'Fira Code', Consolas, 'Courier New', monospace;

  /* Typography - Font Sizes */
  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.5rem;
  --font-size-body-lg: 1.125rem;
  --font-size-body-md: 1rem;
  --font-size-body-sm: 0.875rem;
  --font-size-button: 1rem;

  /* Typography - Font Weights */
  --font-weight-heading: 600;
  --font-weight-body: 400;
  --font-weight-button: 500;

  /* Typography - Line Heights */
  --line-height-h1: 1.2;
  --line-height-h2: 1.3;
  --line-height-h3: 1.4;
  --line-height-body: 1.6;
  --line-height-body-sm: 1.5;
  --line-height-button: 1;
  --line-height-link: 2;

  --transition-duration: 200ms;
}


*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
  font-family: var(--font-family-text), sans-serif;
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-xl);
}

h1,
h2,
h3,
h4 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-h1);
  letter-spacing: var(--line-height-h1);
  color: var(--color-text-primary);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-body-lg);
}

button,
input[type="button"],
input[type="submit"],
a {
  cursor: pointer;
}

a {
  color: var(--color-primary);
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.icon {
  fill: var(--color-text-secondary);
}

.button {
  display: inline-block;
  padding: var(--spacing-button) var(--spacing-lg);
  text-decoration: none;
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  line-height: var(--line-height-button);
  border-radius: var(--radius-md);
  transition: var(--transition-duration);
}

.button:focus-visible {
  outline: 2px solid #1e40af;
  outline-offset: 3px;
}

.buttonPrimary {
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
  border: none;
}

.buttonPrimary:hover {
  background-color: var(--color-primary-hover);
}

.buttonSecondary {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.buttonSecondary:hover {
  background-color: var(--color-secondary-hover);
}

.header {
  padding: var(--spacing-sm) 0;
  border-bottom: 1px solid var(--color-border);
}

.headerLayout {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs) var(--spacing-lg);
}

.logo-link {
  display: block;
  padding: var(--spacing-xs) 0;
  color: var(--color-primary);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-heading);
  text-decoration: none;
}

.logo-link:hover {
  text-decoration: underline;
}

.headerNav-list {
  display: flex;
  gap: var(--spacing-lg);
  flex-wrap: wrap;
}

.headerNav-link {
  display: block;
  min-width: var(--min-width-button);
  padding: var(--spacing-button) 0;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  color: var(--color-text-primary);
  border-bottom: 3px solid transparent;
  transition: var(--transition-duration);
}

.headerNav-link:hover {
  border-color: var(--color-primary);
}

.headerNav-link--current {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.langSwitcher,
.langSwitcher-nav {
  display: flex;
  align-items: center;
}

.langSwitcher-item {
  display: block;
  padding: var(--spacing-md);
  line-height: 1;
}

.langSwitcher-item:first-child {
  padding-right: var(--spacing-sm);
}

.langSwitcher-item:last-child {
  padding-left: var(--spacing-sm);
}

.langSwitcher-current {
  color: var(--color-text-secondary);
}

.langSwitcher-link {
  color: var(--color-primary);
  font-weight: var(--font-weight-button);
  text-decoration: underline;
}

.langSwitcher-link:hover {
  text-decoration: none;
}

.section {
  padding: var(--spacing-2xl) 0;
  text-align: center;
}

.section-even {
  background-color: var(--color-surface);
}

.section-heading {
  margin-bottom: var(--spacing-lg);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-heading);
}

h1.section-heading {
  margin-bottom: var(--spacing-2xl);
  font-size: var(--font-size-h1);
}

.section-description {
  max-width: 800px;
  margin: 0 auto;
  font-size: var(--font-size-body-lg);
  color: var(--color-text-secondary);
}

.section-buttons {
  display: flex;
  gap: var(--spacing-md);
  justify-content: center;
  flex-wrap: wrap;
  margin-top: var(--spacing-xl);
}

.section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: var(--spacing-2xl);
}

.section-cards--start {
  justify-content: flex-start;
}

.section-card {
  max-width: 40%;
  min-width: 280px;
}

.section-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-lg);
}

.sectionCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lg);
  background-color: var(--color-surface);
}

.sectionCard-heading {
  margin-bottom: var(--spacing-sm);
  font-size: var(--font-size-h3);
}

.sectionCard-description {
  color: var(--color-text-secondary);
}

.sectionCard-button {
  margin-top: var(--spacing-md);
}

.sectionCard-icon {
  fill: var(--color-primary);
}

.sectionCard--plan {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 25%;
  text-align: left;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
}

.sectionCard--feature {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 30%;
  text-align: left;
  background-color: var(--color-background);
}

.sectionCard-list {
  flex-grow: 1;
  list-style: disc;
  padding-left: var(--spacing-md);
  color: var(--color-text-secondary);
  font-size: var(--font-size-body-sm);
}

.sectionCard-list li {
  margin-bottom: var(--spacing-sm);
}

.section-disclaimer {
  margin-top: var(--spacing-2xl);
  color: var(--color-text-secondary);
  font-size: var(--font-size-body-md);
}

.componentCard {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 25%;
  text-align: left;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
}

.componentCard-image {
  margin-bottom: var(--spacing-sm);
}

.blogCard {
  display: flex;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
  text-align: left;
  color: var(--color-text-secondary);
  text-decoration: none;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
}

.blogCard:not(:last-child) {
  margin-bottom: var(--spacing-lg);
}

.blogCard:hover {
  text-decoration: underline;
}

.blogCard-image {
  min-width: 200px;
}

.blogCard-heading {
  margin-bottom: var(--spacing-md);
  color: var(--color-text-primary);
  font-weight: var(--font-weight-heading);
}

.blogCard-description {
  color: var(--color-text-secondary);
}


.article {
  text-align: left;
}

.article-heading {
  margin-bottom: var(--spacing-lg);
  text-align: left;
}

.article-image {
  display: block;
}

.article-intro,
.article-h2,
.article-text {
  margin-bottom: var(--spacing-lg);
}

.article-images {
  margin-bottom: var(--spacing-2xl);
}

.article-intro {
  font-size: var(--font-size-body-lg);
}

.article-h2 {
  font-size: var(--font-size-h2);
}

.article-text {
  font-size: var(--font-size-body-md);
}


.footer {
  padding: var(--spacing-xl) 0;
  background-color: var(--color-surface);
  border-top: 1px solid var(--color-border);
}

.footer-topContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
}

.footer-topRightContent {
  display: flex;
  gap: var(--spacing-lg) var(--spacing-3xl);
  flex-wrap: wrap;
}

.footer-slogan {
  color: var(--color-text-secondary);
}

.footer-copyrights {
  margin-top: var(--spacing-xl);
  padding-top: var(--spacing-xl);
  text-align: center;
  color: var(--color-text-secondary);
  font-size: var(--font-size-body-sm);
  border-top: 1px solid var(--color-border);
}

.footerNav-link {
  display: block;
  padding: var(--spacing-sm) 0;
  color: var(--color-text-secondary);
  font-size: var(--font-size-body-sm);
  line-height: var(--line-height-link);
  text-decoration: none;
}

.footerNav-link:hover {
  text-decoration: underline;
}

.footerNav-link--current {
  color: var(--color-primary);
  text-decoration: underline;
}

.policy h1 {
  margin-bottom: var(--spacing-xl);
}

.policy h2 {
  margin-bottom: var(--spacing-md);
}

.policy h3 {
  margin-bottom: var(--spacing-sm);
}

.policy section {
  margin-bottom: var(--spacing-xl);
}

.policy ul,
.policy p {
  margin-bottom: var(--spacing-md);
}

.policy ul {
  padding-left: var(--spacing-xl);
  list-style: disc;
}

.policy a {
  color: var(--color-primary);
}

.policy .policy-lastUpdated {
  margin-bottom: var(--spacing-xl);
  color: var(--color-text-secondary);
  font-size: var(--font-size-body-sm);
}

.cookieBanner {
  display: none;
  position: fixed;
  bottom: var(--spacing-sm);
  left: var(--spacing-sm);
  right: var(--spacing-sm);
  padding: var(--spacing-sm) 0;
  background-color: var(--color-background);
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 5px 0 var(--color-primary);
  border-radius: var(--radius-md);
  z-index: 1000;
}

.cookieBanner-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-sm);
  text-align: center;
}

.cookieBanner-button {
  flex-shrink: 0;
}


@media screen and (max-width: 720px) {
  .container {
    padding: 0 var(--spacing-md);
  }

  .blogCard {
    flex-wrap: wrap;
  }
}
